body {
    background-image: url('/imagens/fundonovo.png');
    background-repeat: repeat;
    background-size: auto;
}

.topo1 {
    background-color: white;

    text-align: center;
    position: fixed;
    top: 1%;
    width: 100%;
    z-index: 1;
}


nav {
    position: relative;
    padding-top: 9%;
    text-align: center;
}

h3 {
    font-size: 32px;
    padding-top: 0%;
    text-align: center;
}



form {
    padding-top: 1%;
    text-align: center;
    padding: 0%;


}

#resposta {

    width: 100%;
    padding-top: 1%;

    text-align: center;
    font-size: medium;
    color: red;
}