body {
    background-image: url('/imagens/fundonovo.png');
    background-repeat: repeat;
    background-size: auto;
}


.cabecalho {
    position: fixed;
    text-align: center;
    z-index: 1;
}

nav {
    position: fixed;
    top: 35%;
    /* Define a posição vertical como 50% */
    left: 50%;
    /* Define a posição horizontal como 50% */
    transform: translate(-50%, -50%);
    /* Centraliza a div completamente */
    z-index: 2;
    /* Define um valor de z-index mais alto para a div com conteúdo */

    padding: 20px;
    /* Define um espaçamento interno para a div com conteúdo */



    width: 500px;
    margin: 20px auto;
    padding: 5px 50px;
    text-align: center;
}



h1 {
    text-align: center;
}

a {
    text-align: center;
}