.cabecalho {
    text-align: center;
}

nav {
    width: 500px;
    margin: 20px auto;
    padding: 5px 50px;
    text-align: center;
}

.imgLogo {

    position: absolute;
    height: 20%;
    width: 20%;
    margin: 99px;
    left: 620px;
}

h1 {
    text-align: center;
}

a {
    text-align: center;
}