body {
    background-image: url('/imagens/fundonovo.png');
    background-repeat: repeat;
    background-size: auto;
}

.topo1 {
    background-color: white;
    margin-top: 1%;
    text-align: center;
    position: fixed;
    top: 1%;
    width: 100%;
    z-index: 1;
}

.nav-links {
    position: fixed;
    top: 20%;
    /* Define a posição vertical como 50% */
    left: 50%;
    /* Define a posição horizontal como 50% */
    transform: translate(-50%, -50%);
    /* Centraliza a div completamente */
    z-index: 2;
    /* Define um valor de z-index mais alto para a div com conteúdo */








    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    color: #000000;
    display: inline;
    text-decoration: #000000;
    text-decoration-line: none;
    font-weight: bold;


}


.cat {

    position: absolute;
    top: 25%;
    left: 50%;


    transform: translate(-50%, -50%);
    z-index: 2;

    margin: 5% 1%;
    text-align: center;
}

.categorias {

    margin-top: 30%;
    margin-left: 5%;


    text-align: center;
}