body {
    background-image: url('/imagens/fundo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    text-align: center;
    width: 500px;
    margin: 20px auto;
    padding: 5px 50px;
}

h3 {
    text-align: center;
}